<div class="grid lg:grid-cols-4 md:grid-cols-1 gap-4">
  <div class="card mb-0">
    <div class="flex justify-between mb-3">
      <div>
        <span class="block text-500 font-medium mb-3">Commandes</span>
        <div class="text-900 font-medium text-xl">152</div>
      </div>
      <div
        class="flex align-items-center justify-center bg-blue-100 border-round"
        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
      >
        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
      </div>
    </div>
    <span class="text-green-500 font-medium">24 nouvelles </span>
    <span class="text-500">depuis votre dernière visite</span>
  </div>
  <div class="card mb-0">
    <div class="flex justify-between mb-3">
      <div>
        <span class="block text-500 font-medium mb-3">Revenue</span>
        <div class="text-900 font-medium text-xl">2100 €</div>
      </div>
      <div
        class="flex align-items-center justify-center bg-orange-100 border-round"
        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
      >
        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
      </div>
    </div>
    <span class="text-green-500 font-medium">+ 52% </span>
    <span class="text-500">depuis la semaine dernière</span>
  </div>
  <div class="card mb-0">
    <div class="flex justify-between mb-3">
      <div>
        <span class="block text-500 font-medium mb-3">Clients</span>
        <div class="text-900 font-medium text-xl">28441</div>
      </div>
      <div
        class="flex align-items-center justify-center bg-cyan-100 border-round"
        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
      >
        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
      </div>
    </div>
    <span class="text-green-500 font-medium">520 </span>
    <span class="text-500">nouveau(x) compte(s)</span>
  </div>
  <div class="card mb-0">
    <div class="flex justify-between mb-3">
      <div>
        <span class="block text-500 font-medium mb-3">Commentaire</span>
        <div class="text-900 font-medium text-xl">152 Non lus</div>
      </div>
      <div
        class="flex align-items-center justify-center bg-purple-100 border-round"
        [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
      >
        <i class="pi pi-comment text-purple-500 text-xl"></i>
      </div>
    </div>
    <span class="text-green-500 font-medium">85 </span>
    <span class="text-500">répondu</span>
  </div>
</div>
