<div class="container mx-auto px-10">
  <div [formGroup]="tagForm" class="flex flex-row my-7">
    <span class="p-float-label basis-1/4">
      <input pInputText id="code" formControlName="code" />
      <label htmlFor="code">Code</label>
    </span>
    <span class="p-float-label basis-1/4">
      <input pInputText id="libelle" formControlName="libelle" />
      <label htmlFor="libelle">Libelle</label>
    </span>
    <span class="p-float-label basis-1/4">
      <input pInputText id="description" formControlName="description" />
      <label htmlFor="description">Description</label>
    </span>
    <p-button
      class="basis-1/4"
      label="Create"
      icon="pi pi-check"
      iconPos="right"
      (click)="createTag()"
    ></p-button>
  </div>
  <p-table [value]="tags" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Key</th>
        <th>Code</th>
        <th>Libelle</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tag>
      <tr>
        <td>{{ tag.key }}</td>
        <td>{{ tag.code }}</td>
        <td>{{ tag.libelle }}</td>
        <td>{{ tag.description }}</td>
        <td class="flex flex-row">
          <p-button
            styleClass="p-button-warning"
            class="basis-1/2"
            icon="pi pi-pencil"
            (click)="updateTag(tag)"
          ></p-button>
          <p-button
            styleClass="p-button-danger"
            class="basis-1/2"
            icon="pi pi-trash"
            (click)="deleteTag(tag)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast></p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button
      pButton
      pRipple
      label="New"
      icon="pi pi-plus"
      class="mr-2"
      (click)="openNew()"
    ></button>
    <button
      pButton
      pRipple
      label="Delete"
      icon="pi pi-trash"
      class="p-button-danger"
      (click)="deleteSelectedTags()"
      [disabled]="!selectedTags || !selectedTags.length"
    ></button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="tags"
  [rows]="10"
  [paginator]="true"
  [globalFilterFields]="['code', 'libelle', 'description']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedTags"
  [rowHover]="true"
  dataKey="key"
  currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} éléments"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-between">
      <h5 class="m-0">Manage Tags</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target, 'contains')"
          placeholder="Rechercher..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="code" style="min-width: 15rem">
        Code <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="libelle">
        Libelle <p-sortIcon field="libelle"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tag>
    <tr>
      <td>
        <p-tableCheckbox [value]="tag"></p-tableCheckbox>
      </td>
      <td>{{ tag.code }}</td>
      <td>{{ tag.libelle }}</td>
      <td>{{ tag.description }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="editTag(tag)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteTag(tag)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-between">
      Total: {{ tags ? tags.length : 0 }} tag(s).
    </div>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="tagDialog"
  [style]="{ width: '450px' }"
  header="Tag Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="code">Code</label>
      <input
        type="text"
        pInputText
        id="code"
        [(ngModel)]="tag.code"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tag.code"
        >Code est obligatoire.</small
      >
    </div>
    <div class="field">
      <label for="libelle">Libelle</label>
      <input
        type="text"
        pInputText
        id="libelle"
        [(ngModel)]="tag.libelle"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tag.libelle"
        >Libelle est obligatoire.</small
      >
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="tag.description"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tag.description"
        >Description est obligatoire.</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Annuler"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Sauvegarder"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveTag()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div class="grid grid-cols-4 gap-4">
  <div class="">
    <div class="card mb-0">
      <div class="flex justify-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Orders</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span>
      <span class="text-500">since last visit</span>
    </div>
  </div>
  <div class="">
    <div class="card mb-0">
      <div class="flex justify-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Revenue</span>
          <div class="text-900 font-medium text-xl">$2.100</div>
        </div>
        <div
          class="flex align-items-center justify-center bg-orange-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-map-marker text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">%52+ </span>
      <span class="text-500">since last week</span>
    </div>
  </div>
  <div class="">
    <div class="card mb-0">
      <div class="flex justify-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Customers</span>
          <div class="text-900 font-medium text-xl">28441</div>
        </div>
        <div
          class="flex align-items-center justify-center bg-cyan-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-inbox text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">520 </span>
      <span class="text-500">newly registered</span>
    </div>
  </div>
  <div class="">
    <div class="card mb-0">
      <div class="flex justify-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Comments</span>
          <div class="text-900 font-medium text-xl">152 Unread</div>
        </div>
        <div
          class="flex align-items-center justify-center bg-purple-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-comment text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">85 </span>
      <span class="text-500">responded</span>
    </div>
  </div>
</div>
<div class="col-12 xl:col-6">
  <div class="card">
    <h5>Recent Sales</h5>
    <p-table
      #dt
      [value]="tags"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['code', 'libelle', 'description']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedTags"
      [rowHover]="true"
      dataKey="key"
      responsivelayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code">
            Code <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th pSortableColumn="libelle">
            Libelle <p-sortIcon field="libelle"></p-sortIcon>
          </th>
          <th pSortableColumn="description">
            Description <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tag>
        <tr>
          <td>{{ tag.code }}</td>
          <td>{{ tag.libelle }}</td>
          <td>{{ tag.description }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2"
              (click)="editTag(tag)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning"
              (click)="deleteTag(tag)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card">
    <div class="flex justify-between align-items-center mb-5">
      <h5>Best Selling Products</h5>
      <div>
        <!-- <button
          pbutton=""
          type="button"
          icon="pi pi-ellipsis-v"
          class="p-element p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"
        >
          <span
            class="p-button-icon pi pi-ellipsis-v"
            aria-hidden="true"
          ></span></button
        ><p-menu class="p-element ng-tns-c3606488508-1 ng-star-inserted"
          ></p-menu
        > -->
      </div>
    </div>
    <ul class="list-none p-0 m-0">
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Space T-Shirt</span
          >
          <div class="mt-1 text-600">Clothing</div>
        </div>
        <div class="mt-2 md:mt-0 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-orange-500 h-full" style="width: 50%"></div>
          </div>
          <span class="text-orange-500 ml-3 font-medium">%50</span>
        </div>
      </li>
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Portal Sticker</span
          >
          <div class="mt-1 text-600">Accessories</div>
        </div>
        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-cyan-500 h-full" style="width: 16%"></div>
          </div>
          <span class="text-cyan-500 ml-3 font-medium">%16</span>
        </div>
      </li>
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Supernova Sticker</span
          >
          <div class="mt-1 text-600">Accessories</div>
        </div>
        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-pink-500 h-full" style="width: 67%"></div>
          </div>
          <span class="text-pink-500 ml-3 font-medium">%67</span>
        </div>
      </li>
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Wonders Notebook</span
          >
          <div class="mt-1 text-600">Office</div>
        </div>
        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-green-500 h-full" style="width: 35%"></div>
          </div>
          <span class="text-green-500 ml-3 font-medium">%35</span>
        </div>
      </li>
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Mat Black Case</span
          >
          <div class="mt-1 text-600">Accessories</div>
        </div>
        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-purple-500 h-full" style="width: 75%"></div>
          </div>
          <span class="text-purple-500 ml-3 font-medium">%75</span>
        </div>
      </li>
      <li
        class="flex flex-column md:flex-row md:align-items-center md:justify-between mb-4"
      >
        <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0"
            >Robots T-Shirt</span
          >
          <div class="mt-1 text-600">Clothing</div>
        </div>
        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
          <div
            class="surface-300 border-round overflow-hidden w-40"
            style="height: 8px"
          >
            <div class="bg-teal-500 h-full" style="width: 40%"></div>
          </div>
          <span class="text-teal-500 ml-3 font-medium">%40</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="col-12 xl:col-6">
  <div class="card">
    <h5>Sales Overview</h5>
    <p-chart type="line" class="p-element"
      ><div style="position: relative">
        <canvas
          style="
            box-sizing: border-box;
            display: block;
            height: 402px;
            width: 805px;
          "
          width="805"
          height="402"
        ></canvas></div
    ></p-chart>
  </div>
  <div class="card">
    <div class="flex align-items-center justify-between mb-4">
      <h5>Notifications</h5>
      <div>
        <button
          pbutton=""
          type="button"
          icon="pi pi-ellipsis-v"
          class="p-element p-button-rounded p-button-text p-button-plain p-button p-component p-button-icon-only"
        >
          <span
            class="p-button-icon pi pi-ellipsis-v"
            aria-hidden="true"
          ></span></button
        ><p-menu class="p-element ng-tns-c3606488508-56 ng-star-inserted"
          ><!----></p-menu
        >
      </div>
    </div>
    <span class="block text-600 font-medium mb-3">TODAY</span>
    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
      <li class="flex align-items-center py-2 border-bottom-1 surface-border">
        <div
          class="w-12 h-12 flex align-items-center justify-center bg-blue-100 border-circle mr-3 flex-shrink-0"
        >
          <i class="pi pi-dollar text-xl text-blue-500"></i>
        </div>
        <span class="text-900 line-height-3"
          >Richard Jones
          <span class="text-700">
            has purchased a blue t-shirt for
            <span class="text-blue-500">79$</span></span
          ></span
        >
      </li>
      <li class="flex align-items-center py-2">
        <div
          class="w-12 h-12 flex align-items-center justify-center bg-orange-100 border-circle mr-3 flex-shrink-0"
        >
          <i class="pi pi-download text-xl text-orange-500"></i>
        </div>
        <span class="text-700 line-height-3"
          >Your request for withdrawal of
          <span class="text-blue-500 font-medium">2500$</span> has been
          initiated.</span
        >
      </li>
    </ul>
    <span class="block text-600 font-medium mb-3">YESTERDAY</span>
    <ul class="p-0 m-0 list-none">
      <li class="flex align-items-center py-2 border-bottom-1 surface-border">
        <div
          class="w-12 h-12 flex align-items-center justify-center bg-blue-100 border-circle mr-3 flex-shrink-0"
        >
          <i class="pi pi-dollar text-xl text-blue-500"></i>
        </div>
        <span class="text-900 line-height-3"
          >Keyser Wick
          <span class="text-700">
            has purchased a black jacket for
            <span class="text-blue-500">59$</span></span
          ></span
        >
      </li>
      <li class="flex align-items-center py-2 border-bottom-1 surface-border">
        <div
          class="w-12 h-12 flex align-items-center justify-center bg-pink-100 border-circle mr-3 flex-shrink-0"
        >
          <i class="pi pi-question text-xl text-pink-500"></i>
        </div>
        <span class="text-900 line-height-3"
          >Jane Davis<span class="text-700">
            has posted a new questions about your product.</span
          ></span
        >
      </li>
    </ul>
  </div>
</div>
